<div class="modal-header">
        <h5 class="modal-title">Добавление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Наименование</label>
            <input type="email" class="form-control" id="wareCategoryNameInput">

            <label class="form-label">Картинка</label>
            <input type="file" id="wareCategoryFileInput" name="file">

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onWareCategoryAddModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onWareCategoryAddModalConfirm()">Добавить</button>
      </div>

      <script>
          const onWareCategoryAddModalClose = () => {
              $("#addWareCategoryModal").hide()
          }

          const onWareCategoryAddModalConfirm = () => {

              const wareCategoryName = $("#wareCategoryNameInput").val()

              var fd = new FormData();
              var files = $('#wareCategoryFileInput')[0].files;

              fd.append('name', wareCategoryName)
              if(files.length > 0 ){
                fd.append('file', files[0]);
              }

              $.ajax({
              
               data: fd,
               url: 'WareCategory/Create',
               cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
               success: function() {
                   $("#addWareCategoryModal").hide()
                }
           })
              
          }
      </script>