@using Wedding.DAL.Data.Entities
@model WareCategory

<div class="modal-header">
        <h5 class="modal-title">Редактирование</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="onWareCategoryUpdateModalClose()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Наименование</label>
            <p><input type="email" class="form-control" id="wareCategoryNameInput" value="@Model.Name"></p>

            <label class="form-label">Картинка</label>
            <p><input type="file" id="wareCategoryFileInput" name="file"></p>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onWareCategoryUpdateModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onWareCategoryUpdateModalConfirm()">Сохранить</button>
      </div>

      <script>
          const onWareCategoryUpdateModalClose = () => {
              $("#addWareCategoryModal").hide()
          }

          const onWareCategoryUpdateModalConfirm = () => {

              var fd = new FormData();

              const wareCategoryName = $("#wareCategoryNameInput").val()
              var files = $('#wareCategoryFileInput')[0].files;

              fd.append('name', wareCategoryName)
              if(files.length > 0 ){
                fd.append('file', files[0]);
              }
              fd.append('id', '@Model.Id')

              $.ajax({
              
               data: fd,
               url: 'WareCategory/Update',
               cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
               success: function() {
                   onWareCategoryUpdateModalClose()
                   loadAndUpdateData()
                }
           })
              
          }
      </script>