<div class="modal-header">
        <h5 class="modal-title">Добавление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="onCityAddModalClose()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Наименование</label>
            <input type="email" class="form-control" id="cityNameInput">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onCityAddModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onCityAddModalConfirm()">Добавить</button>
      </div>

      <script>
          const onCityAddModalClose = () => {
              $("#addCityModal").hide()
          }

          const onCityAddModalConfirm = () => {

              const cityName = $("#cityNameInput").val()

              $.ajax({
               type: 'POST',
               url: '/City/Create',
               data: '{"Name":"' + cityName + '"}',
               success: function() {
                   onCityAddModalClose()
                   loadAndUpdateData()
                },
               contentType: "application/json",
               dataType: 'json'
           })
              
          }
      </script>