@using Wedding.DAL.Data.Entities
@model List<City>

<div class="modal" id="addCityModal" tabindex="-1">
  <div class="modal-dialog">
    <div id="createCityModal" class="modal-content">
      
    </div>
  </div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <a onclick="onAddCityHandler()" class="btn btn-success">
                        <span>Добавить</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="table-container">

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

const loadAndUpdateData = () => {
    $.get("/City/Table", function(data) {
        $("#table-container").html(data)
    })
}
const onAddCityHandler = () => {
    $.get("/City/Create", function(data) { 
        $("#createCityModal").html(data)
        $("#addCityModal").show()
    })
}
const onUpdateCityHandler = (id) => {
    $.get("/City/Update?id=" + id, function(data) { 
        $("#createCityModal").html(data)
        $("#addCityModal").show()
    })
}

$(document).ready(() => loadAndUpdateData())

</script>