@using Wedding.DAL.Data.Entities
@model City

<div class="modal-header">
        <h5 class="modal-title">Добавление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Наименование</label>
            <input type="email" class="form-control" id="cityNameInput" value="@Model.Name">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onCityUpdateModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onCityUpdateModalConfirm()">Добавить</button>
      </div>

      <script>
          const onCityUpdateModalClose = () => {
              $("#addCityModal").hide()
          }

          const onCityUpdateModalConfirm = () => {


              const cityName = $("#cityNameInput").val()

              $.ajax({
               type: 'POST',
               url: '/City/Update',
               data: '{"Id":"' + @Model.Id + '", "Name":"' + cityName + '"}',
               success: function() {
                   $("#UpdateCityModal").hide()
                },
               contentType: "application/json",
               dataType: 'json'
           })
              
          }
      </script>