<div class="modal-header">
        <h5 class="modal-title">Добавление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Адрес</label>
            <input class="form-control" id="salonAddressInput">

            <label class="form-label">Картинка</label>
            <input type="file" id="salonFileInput" name="file">

            <label class="form-label">Город</label>
            <select class="form-select" id="citySelect">
                @foreach(var city in ViewBag.City)
            {
                <option value="@city.Id">@city.Name</option>
            }
            </select>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onSalonAddModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onSalonAddModalConfirm()">Добавить</button>
      </div>

      <script>
          const onSalonAddModalClose = () => {
              $("#addSalonModal").hide()
          }

        const onSalonAddModalConfirm = () => {

            var fd = new FormData();

            const salonAddress = $("#salonAddressInput").val()
            var files = $('#salonFileInput')[0].files;
            const cityId = $('#citySelect option:selected').val()

            fd.append('address', salonAddress)
            if (files.length > 0) {
                fd.append('file', files[0]);
            }
            fd.append('cityId', cityId)

            $.ajax({
                data: fd,
                url: 'Salon/Create',
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function() {
                    $("#addSalonModal").hide()
                }
            })
        }
      </script>