<div class="modal-header">
        <h5 class="modal-title">Добавление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="onWareAddModalClose()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Наименование</label>
            <p><input class="form-control" id="wareNameInput"></p>

            <label class="form-label">Картинка</label>
            <p><input type="file" id="wareFileInput" name="file"></p>

            <label class="form-label">Розничная цена</label>
            <p><input type="number" class="form-control" id="wareRetailPriceInput"></p>

            <label class="form-label">Закупочная цена</label>
            <p><input type="number" class="form-control" id="warePriceInput"></p>

            <div class="form-check">
                <label class="form-label">Скидка</label>
                <p><input type="checkbox" class="form-check-input" id="wareDiscountedInput"></p>
            </div>

            <label class="form-label">Описание</label>
            <p><input class="form-control" id="wareDescriptionInput"></p>
            
            <label class="form-label">Категория</label>
            <p><select class="form-select" id="wareCategorySelect">
                @foreach(var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
            </select></p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onWareAddModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onWareAddModalConfirm()">Добавить</button>
      </div>

      <script>
          const onWareAddModalClose = () => {
              $("#addWareModal").hide()
          }

        const onWareAddModalConfirm = () => {

            var fd = new FormData();

            const wareName = $("#wareNameInput").val()
            var files = $('#wareFileInput')[0].files;
            const wareRetailPrice = Number($("#wareRetailPriceInput").val())
            const warePrice = Number($("#warePriceInput").val())
            const wareDiscounted = $("#wareDiscountedInput").is(':checked')
            const wareDescription = $("#wareDescriptionInput").val()
            const wareCategoryId = $('#wareCategorySelect option:selected').val()

            fd.append('name', wareName)
            if (files.length > 0) {
                fd.append('file', files[0]);
            }
            fd.append('retailPrice', wareRetailPrice)
            fd.append('price', warePrice)
            fd.append('discounted', wareDiscounted)
            fd.append('description', wareDescription)
            fd.append('categoryId', wareCategoryId)

            $.ajax({
                data: fd,
                url: 'Ware/Create',
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function() {
                    onWareAddModalClose()
                    loadAndUpdateData()
                }
            })
        }
      </script>